.header-site {
    background-image: url(../img/img-7.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #ffffff;
    padding-top: 300px;
    padding-bottom: 300px;
}

.content-site {
    padding-top: 200px;
    padding-bottom: 200px;
}

.img-site {
    background-image: url(../img/img-2.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 200px;
    padding-bottom: 200px;
    color: #ffffff;
}

.footer-site {
    background-color: #000000;
    color: #ffffff;
    padding-top: 60px;
    padding-bottom: 60px;
}